* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marmelad', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --clr-vanilla: #fbffcd;
    --clr-sage: #79ae92;
    --clr-teal: #1c5560;
    --clr-midnight: #001f36;
    --clr-ebony: #000000;
    --clr-onyx: #101415;
    --clr-slate: #21282a;
    --clr-transparent: #ffffff00;
}

html {}

/* #region cores*/
.cores {
    text-align: center;
    align-items: center;
    justify-content: center;

    & .vanilla {
        background-color: var(--clr-vanilla);
        padding: 1rem;
    }

    & .sage {
        background-color: var(--clr-sage);
        padding: 1rem;
    }

    & .teal {
        background-color: var(--clr-teal);
        color: var(--clr-vanilla);
        padding: 1rem;
    }

    & .midnight {
        background-color: var(--clr-midnight);
        color: var(--clr-vanilla);
        padding: 1rem;
    }

    & .ebony {
        background-color: var(--clr-ebony);
        color: var(--clr-vanilla);
        padding: 1rem;
    }

    & .onyx {
        background-color: var(--clr-onyx);
        color: var(--clr-vanilla);
        padding: 1rem;
    }

    & .slate {
        background-color: var(--clr-slate);
        color: var(--clr-vanilla);
        padding: 1rem;
    }
}

/* #endregion */

/* #region body*/
body {
    background: var(--clr-midnight);
}

/* #endregion */

/* #region header*/
header {
    background: var(--clr-ebony);
    padding: 0 2rem;

    & .navbar {
        display: flex;
        text-align: center;
        justify-content: space-between;

        & .menu {
            color: var(--clr-vanilla);

            & ul {
                display: flex;

                & li {
                    margin: 0.6rem 1rem;
                    transition: transform 0.3s ease;

                    & a {
                        color: var(--clr-vanilla);
                        transition: color 0.3s ease, transform 0.3s ease;
                        display: inline-block;

                        /*inline-block; precisei para o sacle funcionar'-' */
                        &:hover {
                            color: var(--clr-sage);
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        & .logo {
            & img {
                display: flex;
                height: 2rem;
                align-items: center;
                margin: 0.2rem;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

/* #endregion */

/* #region container*/
.container {
    & .home {
        padding: 2rem;
        display: flex;
        gap: 1.2rem;
        justify-content: center;

        & .galery {
            position: relative;

            & img {
                filter: brightness(20%);
                border-radius: 10px;
            }
        }


        & .text {
            & ul {
                & li.titulo {
                    /* width: 100%; */
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 4rem;
                    font-weight: bold;
                }

                & li.subtitulo {
                    position: absolute;
                    top: 48%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 2rem;

                }
            }
        }

        & button {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 4rem;
            background-color: var(--clr-transparent);
            color: white;
            border: 1px solid white;
            padding: 1rem 3rem;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 1.2rem;
            transition: background 0.3s ease;

            &:hover{
                background-color: #79ae9280;
            }
        }
    }
}

/* #endregion */