* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

:root {
    --clr-vanilla: #fbffcd;
    --clr-sage: #79ae92;
    --clr-teal: #1c5560;
    --clr-midnight: #001f36;
    --clr-ebony: #000000;
    --clr-onyx: #101415;
    --clr-slate: #21282a;
    --clr-transparent: #ffffff00;
}
html{

}

.cores{
    
    text-align: center;
    align-items: center;
    justify-content: center;
    & .vanilla{
        background-color: var(--clr-vanilla);
        padding: 1rem;
    }
    & .sage{
        background-color: var(--clr-sage);
        padding: 1rem;
    }
    & .teal{
        background-color: var(--clr-teal);
        color: var(--clr-vanilla);
        padding: 1rem;
    }
    & .midnight{
        background-color: var(--clr-midnight);
        color: var(--clr-vanilla);
        padding: 1rem;
    }
    & .ebony{
        background-color: var(--clr-ebony);
        color: var(--clr-vanilla);
        padding: 1rem;
    }
    & .onyx{
        background-color: var(--clr-onyx);
        color: var(--clr-vanilla);
        padding: 1rem;
    }
    & .slate{
        background-color: var(--clr-slate);
        color: var(--clr-vanilla);
        padding: 1rem;
    }
}
body {
    display: flex;
    height: 100vh;
    background-color: #ffffff; /* Cor do fundo */
}
/* #region */

/* #endregion */